<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-checkRecord-edit" th:object="${checkRecord}">
            <input id="checkRecordId" name="checkRecordId" th:field="*{checkRecordId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">部门ID：</label>
				<div class="col-sm-8">
					<input id="deptId" name="deptId" th:field="*{deptId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">店铺ID：</label>
				<div class="col-sm-8">
					<input id="shopId" name="shopId" th:field="*{shopId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">检查者：</label>
				<div class="col-sm-8">
					<input id="createBy" name="createBy" th:field="*{createBy}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">检查时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<input id="status" name="status" th:field="*{status}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">时间：</label>
				<div class="col-sm-8">
					<input id="completeTime" name="completeTime" th:field="*{completeTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">问题：</label>
				<div class="col-sm-8">
					<input id="problems" name="problems" th:field="*{problems}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">整改后：</label>
				<div class="col-sm-8">
					<input id="changed" name="changed" th:field="*{changed}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">总分：</label>
				<div class="col-sm-8">
					<input id="totalScore" name="totalScore" th:field="*{totalScore}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">检查次数：</label>
				<div class="col-sm-8">
					<input id="checkNum" name="checkNum" th:field="*{checkNum}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/checkRecord";
		$("#form-checkRecord-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-checkRecord-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
