<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bd.system.mapper.CheckDutyTypeMapper">
    
    <resultMap type="CheckDutyType" id="CheckDutyTypeResult">
        <result property="dctId"    column="dct_id"    />
        <result property="dutyId"    column="duty_id"    />
        <result property="pictuer"    column="pictuer"    />
        <result property="score"    column="score"    />
        <result property="dictCode"    column="dict_code"    />
        <result property="dictCode1"    column="dict_code1"    />
        <result property="dictCode2"    column="dict_code2"    />
        <result property="dutyName" column="duty_name"/>
        <result property="problemId" column="problem_id"/>
        <result property="problemName" column="problem_Name"/>
    </resultMap>

	<sql id="selectCheckDutyTypeVo">
   SELECT
    cc.dct_id,
    d.duty_name,
    cc.pictuer,
    cc.score,
    (SELECT dict_label FROM sys_dict_data WHERE dict_code=cc.dict_code AND dict_type='sys_shop_area') dictLabel,
    (SELECT dict_label FROM sys_dict_data WHERE dict_code=cc.dict_code1 AND dict_type='check_duty_area') dictLabel1,
    (SELECT dict_label FROM sys_dict_data WHERE dict_code=cc.dict_code2 AND dict_type='check_duty_pj')dictLabel2,
    p.problem_name
    FROM check_duty_type cc
    LEFT JOIN check_duty d ON d.duty_id = cc.duty_id
    LEFT JOIN check_duty_problem p ON p.problem_id = cc.problem_id
    </sql >
    <!--查询值班类型数据列表-->

    <select id="selectCheckDutyTypeList" parameterType="CheckDutyType" resultMap="CheckDutyTypeResult">
        <include refid="selectCheckDutyTypeVo"/>
        <where>
            <if test="dctId != null and dctId != 0 ">
                and cc.dct_id = #{dctId}
            </if>
            <if test="score != null and score != '' ">
                and cc.score = #{score}
            </if>
            <if test="dutyId != null and dutyId !=0 ">
                and d.duty_id = #{dutyId}
            </if>
            <if test="dutyName != null and dutyName != ''">
                AND d.duty_name like concat('%', #{dutyName}, '%')
            </if>
             <if test="dictCode != null "> and dict_code = #{dictCode}</if>
             <if test="dictCode1 != null "> and dict_code1 = #{dictCode1}</if>
             <if test="dictCode2 != null "> and dict_code2 = #{dictCode2}</if>
            <if test="problemId != null "> and problemId = #{problemId}</if>
         </where>
    </select>
    <!--根据ID查询检查数据-->

    <select id="selectCheckDutyTypeById" parameterType="Integer" resultMap="CheckDutyTypeResult">
        <include refid="selectCheckDutyTypeVo"/>
        where dct_id = #{dctId}
    </select>

    <!--新增值班检查数据-->
    <insert id="insertCheckDutyType" parameterType="CheckDutyType" useGeneratedKeys="true" keyProperty="dctId">
        insert into check_duty_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="dutyId != null  ">duty_id,</if>
			<if test="pictuer != null  and pictuer != ''  ">pictuer,</if>
			<if test="score != null  ">score,</if>
			<if test="dictCode != null  ">dict_code,</if>
			<if test="dictCode1 != null " >dict_code1,</if>
			<if test="dictCode2 != null  ">dict_code2,</if>
            <if test="problemId != null "> problem_id</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="dutyId != null  ">#{dutyId},</if>
			<if test="pictuer != null  and pictuer != ''  ">#{pictuer},</if>
			<if test="score != null  ">#{score},</if>
			<if test="dictCode != null  ">#{dictCode},</if>
			<if test="dictCode1 != null  ">#{dictCode1},</if>
			<if test="dictCode2 != null  ">#{dictCode2},</if>
            <if test="problemId != null ">#{problemId}</if>
         </trim>
    </insert>

    <!--修改值班类型-->

    <update id="updateCheckDutyType" parameterType="CheckDutyType">
        update check_duty_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="dutyId != null  ">duty_id = #{dutyId},</if>
            <if test="pictuer != null  and pictuer != ''  ">pictuer = #{pictuer},</if>
            <if test="score != null  ">score = #{score},</if>
            <if test="dictCode != null  ">dict_code = #{dictCode},</if>
            <if test="dictCode1 != null  ">dict_code1 = #{dictCode1},</if>
            <if test="dictCode2 != null  ">dict_code2 = #{dictCode2},</if>
            <if test="problemId != null "> problemId = #{problemId}</if>
        </trim>
        where dct_id = #{dctId}
    </update>

	<delete id="deleteCheckDutyTypeById" parameterType="Integer">
        delete from check_duty_type where dct_id = #{dctId}
    </delete>

    <delete id="deleteCheckDutyTypeByIds" parameterType="String">
        delete from check_duty_type where dct_id in 
        <foreach item="dctId" collection="array" open="(" separator="," close=")">
            #{dctId}
        </foreach>
    </delete>
    
</mapper>