<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bd.system.mapper.CheckDutyMapper">
    
    <resultMap type="CheckDuty" id="CheckDutyResult">
        <result property="dutyId"    column="duty_id"    />
        <result property="dutyName"    column="duty_name"    />
        <result property="dutyTime"    column="duty_time"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
    </resultMap>
	
	<sql id="selectCheckDutyVo">
      SELECT
	cc.duty_id,
	cc.dept_id,
	cc.duty_name,
	cc.duty_time,
	d.dept_name

FROM
	check_duty cc
LEFT JOIN sys_dept d ON d.dept_id = cc.dept_id
</sql>
	
    <select id="selectCheckDutyList" parameterType="CheckDuty" resultMap="CheckDutyResult">
        <include refid="selectCheckDutyVo"/>
        <where>  
            <if test="dutyId != null "> and cc.duty_id = #{dutyId}</if>
             <if test="dutyName != null  and dutyName != '' "> and cc.duty_name = #{dutyName}</if>
             <if test="dutyTime != null "> and cc.duty_time = #{dutyTime}</if>
             <if test="deptId != null "> and cc.dept_id = #{deptId}</if>
         </where>
    </select>
    
    <select id="selectCheckDutyById" parameterType="Integer" resultMap="CheckDutyResult">
        <include refid="selectCheckDutyVo"/>
        where duty_id = #{dutyId}
    </select>
        
    <insert id="insertCheckDuty" parameterType="CheckDuty" useGeneratedKeys="true" keyProperty="dutyId">
        insert into check_duty
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="dutyName != null  and dutyName != ''  ">duty_name,</if>
			<if test="dutyTime != null  ">duty_time,</if>
			<if test="deptId != null  ">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="dutyName != null  and dutyName != ''  ">#{dutyName},</if>
			<if test="dutyTime != null  ">#{dutyTime},</if>
			<if test="deptId != null  ">#{deptId},</if>
         </trim>
    </insert>
	 
    <update id="updateCheckDuty" parameterType="CheckDuty">
        update check_duty
        <trim prefix="SET" suffixOverrides=",">
            <if test="dutyName != null  and dutyName != ''  ">duty_name = #{dutyName},</if>
            <if test="dutyTime != null  ">duty_time = #{dutyTime},</if>
            <if test="deptId != null  ">dept_id = #{deptId},</if>
        </trim>
        where duty_id = #{dutyId}
    </update>

	<delete id="deleteCheckDutyById" parameterType="Integer">
        delete from check_duty where duty_id = #{dutyId}
    </delete>
	
    <delete id="deleteCheckDutyByIds" parameterType="String">
        delete from check_duty where duty_id in 
        <foreach item="dutyId" collection="array" open="(" separator="," close=")">
            #{dutyId}
        </foreach>
    </delete>
    
</mapper>