<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bd.system.mapper.CheckRecordMapper">
    
    <resultMap type="CheckRecord" id="CheckRecordResult">
        <result property="checkRecordId"    column="check_record_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
        <result property="completeTime"    column="complete_time"    />
        <result property="problems"    column="problems"    />
        <result property="changed"    column="changed"    />
        <result property="totalScore"    column="total_score"    />
        <result property="checkNum"    column="check_num"    />
        <result property="deptName"    column="dept_name"    />
        <result property="shopName"    column="shop_name"    />
    </resultMap>
	
	<sql id="selectCheckRecordVo">
        select cr.check_record_id, cr.dept_id, cr.shop_id, cr.create_by,
        cr.create_time, cr.status, cr.complete_time, cr.problems, cr.changed,
        cr.total_score, cr.check_num
        ,sd.dept_name,ss.shop_name
        from check_record cr
        left join sys_dept sd on cr.dept_id = sd.dept_id
        left join sys_shop ss on cr.shop_id = ss.shop_id
    </sql>
	
    <select id="selectCheckRecordList" parameterType="CheckRecord" resultMap="CheckRecordResult">
        <include refid="selectCheckRecordVo"/>
        <where>  
            <if test="checkRecordId != null "> and check_record_id = #{checkRecordId}</if>
             <if test="deptId != null "> and dept_id = #{deptId}</if>
             <if test="shopId != null "> and shop_id = #{shopId}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="status != null "> and status = #{status}</if>
             <if test="completeTime != null "> and complete_time = #{completeTime}</if>
             <if test="problems != null "> and problems = #{problems}</if>
             <if test="changed != null "> and changed = #{changed}</if>
             <if test="totalScore != null "> and total_score = #{totalScore}</if>
             <if test="checkNum != null "> and check_num = #{checkNum}</if>
         </where>
    </select>
    
    <select id="selectCheckRecordById" parameterType="Integer" resultMap="CheckRecordResult">
        <include refid="selectCheckRecordVo"/>
        where check_record_id = #{checkRecordId}
    </select>
        
    <insert id="insertCheckRecord" parameterType="CheckRecord" useGeneratedKeys="true" keyProperty="checkRecordId">
        insert into check_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="deptId != null  ">dept_id,</if>
			<if test="shopId != null  ">shop_id,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="status != null  ">status,</if>
			<if test="completeTime != null  ">complete_time,</if>
			<if test="problems != null  ">problems,</if>
			<if test="changed != null  ">changed,</if>
			<if test="totalScore != null  ">total_score,</if>
			<if test="checkNum != null  ">check_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="deptId != null  ">#{deptId},</if>
			<if test="shopId != null  ">#{shopId},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="status != null  ">#{status},</if>
			<if test="completeTime != null  ">#{completeTime},</if>
			<if test="problems != null  ">#{problems},</if>
			<if test="changed != null  ">#{changed},</if>
			<if test="totalScore != null  ">#{totalScore},</if>
			<if test="checkNum != null  ">#{checkNum},</if>
         </trim>
    </insert>
	 
    <update id="updateCheckRecord" parameterType="CheckRecord">
        update check_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null  ">dept_id = #{deptId},</if>
            <if test="shopId != null  ">shop_id = #{shopId},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="completeTime != null  ">complete_time = #{completeTime},</if>
            <if test="problems != null  ">problems = #{problems},</if>
            <if test="changed != null  ">changed = #{changed},</if>
            <if test="totalScore != null  ">total_score = #{totalScore},</if>
            <if test="checkNum != null  ">check_num = #{checkNum},</if>
        </trim>
        where check_record_id = #{checkRecordId}
    </update>


    <delete id="deleteCheckRecordById" parameterType="Integer">
        delete from check_record where check_record_id = #{checkRecordId}
    </delete>
	
    <delete id="deleteCheckRecordByIds" parameterType="String">
        delete from check_record where check_record_id in 
        <foreach item="checkRecordId" collection="array" open="(" separator="," close=")">
            #{checkRecordId}
        </foreach>
    </delete>

    <select id="selectCount" resultType="int">
        select count(1) from check_record
        where dept_id = #{deptId} and shop_id = #{shopId} and create_time like  concat(#{dateToStr},'%')
    </select>

    <resultMap type="com.bd.system.vo.CheckRecordResultVO" id="CheckRecordResult2">
        <result property="checkRecordId"    column="check_record_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="problems"    column="problems"    />
        <result property="totalScore"    column="total_score"    />
        <result property="checkNum"    column="check_num"    />
        <result property="deptName"    column="dept_name"    />
        <result property="shopName"    column="shop_name"    />
    </resultMap>
    <select id="selectCheckRecordByCheckRecordId" parameterType="Integer" resultMap="CheckRecordResult2">
        <include refid="selectCheckRecordVo"/>
        where check_record_id = #{checkRecordId}
    </select>
    <select id="selectCheckRecordHistory" resultMap="CheckRecordResult">
        select * from  check_record
        where dept_id = #{deptId} and shop_id = #{shopId}
        and create_time like  concat(#{checkDate},'%')
    </select>

    <update id="updateCheckRecordById">
        update check_record
        set problems = problems+1 ,total_score = total_score + #{score}
        where check_record_id = #{checkRecordId}
    </update>

    <resultMap type="com.bd.system.vo.CheckChangedVO" id="CheckChangedResult">
        <result property="deptId"    column="dept_id"    />
        <result property="problems"    column="problems"    />
        <result property="changed"    column="changed"    />
        <result property="deptName"    column="dept_name"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <select id="selectCheckChangedList" resultMap="CheckChangedResult">
        select r.dept_id,d.dept_name,sum(problems) problems,sum(`changed`) changed,min(r.create_time) create_time
        from check_record r left join sys_dept d on r.dept_id = d.dept_id
        group by r.dept_id
    </select>

    <resultMap type="com.bd.system.vo.NumVO" id="NumResult">
        <result property="shopId"    column="shop_id"    />
        <result property="shopName"    column="shop_name"    />
        <result property="problems"    column="problems"    />
        <result property="changed"    column="changed"    />

    </resultMap>
    <select id="selectNum" resultMap="NumResult">

        SELECT
            r.shop_id,s.shop_name,  sum(problems) problems ,sum(`changed`) changed
        FROM
            check_record r
            left join sys_shop s on r.shop_id = s.shop_id
        WHERE
            r.shop_id = #{shopId}
            group by r.shop_id

    </select>
</mapper>