<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-checkProblemItem-edit" th:object="${checkProblemItem}">
            <input id="problemItemId" name="problemItemId" th:field="*{problemItemId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">部门id：</label>
				<div class="col-sm-8">
					<input id="deptId" name="deptId" th:field="*{deptId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">店铺id：</label>
				<div class="col-sm-8">
					<input id="shopId" name="shopId" th:field="*{shopId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">大项id：</label>
				<div class="col-sm-8">
					<input id="itemId" name="itemId" th:field="*{itemId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">大项总分：</label>
				<div class="col-sm-8">
					<input id="itemScore" name="itemScore" th:field="*{itemScore}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">巡店记录Id：</label>
				<div class="col-sm-8">
					<input id="checkRecordId" name="checkRecordId" th:field="*{checkRecordId}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/checkProblemItem";
		$("#form-checkProblemItem-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-checkProblemItem-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
